*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.shape{
    margin-top: 8px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: solid;
    border-color: rgb(220, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: fuchsia;

}
#circle:hover{
    background-color: crimson;

}
#dai:hover{
    background-color: lavenderblush;
}

#circle{
    border-radius: 50%;
}
#dai{
    rotate: 45deg;
    margin-top: 60px;
}
#dai h1{
    rotate: -45deg;
}